### Projekt IUM (zestaw 09, wariant 02)

Poniższy notatnik składa się z sekcji:
1. Załadowanie danych do df
2. Wstępny preprocessing danych
3. xxx

### 1. Załadowanie danych do df

In [ ]:
import pandas as pd
import json

In [ ]:
def load_lines(filename):
    with open(filename) as f:
        lines = f.read().splitlines()
    return lines

In [ ]:
artists_lines = load_lines("artists.jsonl")
tracks_lines = load_lines("tracks.jsonl")

In [ ]:
artists_lines[:10]

['{"id": "7jVv8c5Fj3E9VhNjxT4snq", "name": "Lil Nas X", "genres": ["country rap", "lgbtq+ hip hop", "pop rap", "queer country"]}',
 '{"id": "0xRXCcSX89eobfrshSVdyu", "name": "MEDUZA", "genres": ["dance pop", "edm", "pop dance", "pop house", "tropical house"]}',
 '{"id": -1, "name": "TheFatRat", "genres": ["speedrun"]}',
 '{"id": "4f7KfxeHq9BiylGmyXepGt", "name": "Tanishk Bagchi", "genres": ["desi pop", "filmi", "modern bollywood"]}',
 '{"id": -1, "name": "Jawsh 685", "genres": ["nz pop"]}',
 '{"id": "523y9KSneKh6APd1hKxLuF", "name": "Master KG", "genres": ["south african house"]}',
 '{"id": "25UNJbwGZSQKvz5cPLWlv3", "name": "Los Dos Carnales", "genres": null}',
 '{"id": "6vTqEFbTtTRJsuIpzZgjxi", "name": "Grupo Menos \\u00c9 Mais", "genres": ["pagode", "pagode novo"]}',
 '{"id": "44mEtidu0VdRkIqO4IbkNa", "name": "Marca MP", "genres": ["corrido", "corridos tumbados", "nuevo regional mexicano", "regional mexican", "sierreno"]}',
 '{"id": -1, "name": "Guilherme & Benuto", "genres": ["sertanejo pop"]}']

In [ ]:
tracks_lines[:10]

['{"id": "0RNxWy0PC3AyH4ThH3aGK6", "name": null, "popularity": null, "duration_ms": 201467, "explicit": 0, "id_artist": "19eLuQmk9aCobbVDHc6eek", "release_date": "1929", "danceability": 0.673, "energy": 0.377, "key": 0, "loudness": -14.141, "speechiness": 0.0697, "acousticness": 0.586, "instrumentalness": 0.0, "liveness": 0.332, "valence": 0.713, "tempo": 88.973}',
 '{"id": "2W889aLIKxULEefrleFBFI", "name": "Someone to Watch Over Me", "popularity": 54, "duration_ms": 198000, "explicit": 0, "id_artist": "1Mxqyy3pSjf8kZZL4QVxS0", "release_date": "1943", "danceability": 0.204, "energy": 0.151, "key": 2, "loudness": -17.842, "speechiness": 0.0418, "acousticness": 0.947, "instrumentalness": 9.15e-06, "liveness": 0.321, "valence": 0.134, "tempo": 91.783}',
 '{"id": "4Pnzw1nLOpDNV6MKI5ueIR", "name": null, "popularity": 55, "duration_ms": 199000, "explicit": 0, "id_artist": "1Mxqyy3pSjf8kZZL4QVxS0", "release_date": "1944", "danceability": 0.295, "energy": 0.0826, "key": 1, "loudness": -19.569, "speechiness": 0.0367, "acousticness": 0.984, "instrumentalness": 0.000358, "liveness": 0.156, "valence": 0.169, "tempo": 128.6}',
 '{"id": "7GLmfKOe5BfOXk7334DoKt", "name": "Saturday Night (Is The Loneliest Night In The Week)", "popularity": null, "duration_ms": 163000, "explicit": 0, "id_artist": "1Mxqyy3pSjf8kZZL4QVxS0", "release_date": "1944", "danceability": 0.561, "energy": 0.335, "key": 9, "loudness": -11.093, "speechiness": 0.0499, "acousticness": 0.84, "instrumentalness": 1.52e-06, "liveness": 0.788, "valence": 0.59, "tempo": 126.974}',
 '{"id": "6kD1SNGPkfX9LwaGd1FG92", "name": "Put Your Dreams Away (For Another Day)", "popularity": null, "duration_ms": 186173, "explicit": 0, "id_artist": "1Mxqyy3pSjf8kZZL4QVxS0", "release_date": "1944", "danceability": 0.197, "energy": 0.0546, "key": 1, "loudness": -22.411, "speechiness": 0.0346, "acousticness": 0.95, "instrumentalness": 0.276, "liveness": 0.152, "valence": 0.1, "tempo": 90.15}',
 '{"id": "5RcvlmVx2xtFcp2Ta5pw7X", "name": "Someone To Watch Over Me", "popularity": 57, "duration_ms": 196667, "explicit": 0, "id_artist": null, "release_date": "1950-09-11", "danceability": 0.354, "energy": 0.0851, "key": 7, "loudness": -13.738, "speechiness": 0.0345, "acousticness": 0.99, "instrumentalness": 4.49e-06, "liveness": 0.123, "valence": 0.197, "tempo": 97.684}',
 '{"id": "5DIVWgTeJ2fPIxaY9e7ZKn", "name": "I\'ve Got A Crush On You", "popularity": 56, "duration_ms": 196440, "explicit": 0, "id_artist": "5V0MlUE1Bft0mbLlND7FJz", "release_date": "1950-09-11", "danceability": 0.455, "energy": 0.106, "key": 2, "loudness": -14.086, "speechiness": 0.0422, "acousticness": 0.986, "instrumentalness": 0.0, "liveness": 0.122, "valence": 0.258, "tempo": 66.807}',
 '{"id": "0x0ffSAP6PkdoDgHOfroof", "name": "My Funny Valentine - Remastered", "popularity": null, "duration_ms": 150667, "explicit": 0, "id_artist": "1Mxqyy3pSjf8kZZL4QVxS0", "release_date": "1954-01-01", "danceability": 0.257, "energy": 0.125, "key": 11, "loudness": -14.267, "speechiness": 0.0332, "acousticness": 0.891, "instrumentalness": 0.0, "liveness": 0.108, "valence": 0.245, "tempo": 84.93}',
 '{"id": "0Hsc0sIaxOxXBZbT3ms2oj", "name": "In The Wee Small Hours Of The Morning - Remastered 1998", "popularity": 60, "duration_ms": 180933, "explicit": 0, "id_artist": "1Mxqyy3pSjf8kZZL4QVxS0", "release_date": "1955", "danceability": 0.29, "energy": 0.0874, "key": 0, "loudness": -16.119, "speechiness": 0.0346, "acousticness": 0.856, "instrumentalness": 0.000957, "liveness": 0.109, "valence": 0.0734, "tempo": 114.997}',
 '{"id": "3aEJMh1cXKEjgh52claxQp", "name": "I\'ve Got You Under My Skin - Remastered 1998", "popularity": 68, "duration_ms": 223760, "explicit": 0, "id_artist": "1Mxqyy3pSjf8kZZL4QVxS0", "release_date": "1956-03", "danceability": 0.585, "energy": 0.247, "key": 1, "loudness": -12.612, "speechiness": 0.04, "acousticness": 0.452, "instrumentalness": 8.85e-06, "liveness": 0.107, "valence": 0.591, "tempo": 127.15}']

In [ ]:
artists_df = pd.DataFrame(artists_lines)
tracks_df = pd.DataFrame(tracks_lines)

In [ ]:
artists_df

                                                      0
0     {"id": "7jVv8c5Fj3E9VhNjxT4snq", "name": "Lil ...
1     {"id": "0xRXCcSX89eobfrshSVdyu", "name": "MEDU...
2     {"id": -1, "name": "TheFatRat", "genres": ["sp...
3     {"id": "4f7KfxeHq9BiylGmyXepGt", "name": "Tani...
4     {"id": -1, "name": "Jawsh 685", "genres": ["nz...
...                                                 ...
1662  {"id": "6AMd49uBDJfhf30Ak2QR5s", "name": "Coi ...
1663  {"id": "6qgnBH6iDM91ipVXv28OMu", "name": "KAYT...
1664  {"id": "5q8HGNo0BjLWaTAhRtbwxa", "name": "Bran...
1665  {"id": -1, "name": "Bethel Music", "genres": [...
1666  {"id": "46MWeeHNVMYRIIofQBEX98", "name": "BEAM...

[1667 rows x 1 columns]

In [ ]:
tracks_df

                                                       0
0      {"id": "0RNxWy0PC3AyH4ThH3aGK6", "name": null,...
1      {"id": "2W889aLIKxULEefrleFBFI", "name": "Some...
2      {"id": "4Pnzw1nLOpDNV6MKI5ueIR", "name": null,...
3      {"id": "7GLmfKOe5BfOXk7334DoKt", "name": "Satu...
4      {"id": "6kD1SNGPkfX9LwaGd1FG92", "name": "Put ...
...                                                  ...
22407  {"id": "0LcNMuOiULmxJK3bdHTfDF", "name": "Miss...
22408  {"id": "1uviKYHZuM4uINK33F7sCt", "name": "Fix ...
22409  {"id": null, "name": "Lotus Inn", "popularity"...
22410  {"id": "27kcZEJvhkb1rzZS9gCpdA", "name": null,...
22411  {"id": "27Y1N4Q4U3EfDU5Ubw8ws2", "name": "What...

[22412 rows x 1 columns]

In [ ]:
artists_df.columns = ['json line']
tracks_df.columns = ['json line']

# utworzenie słownika na każdym elemencie kolumny json line
loaded_json_artists = artists_df['json line'].apply(json.loads)
loaded_json_tracks = tracks_df['json line'].apply(json.loads)

In [ ]:
artists_df = pd.json_normalize(loaded_json_artists)
tracks_df = pd.json_normalize(loaded_json_tracks)

In [ ]:
artists_df

,id,name,genres
0,7jVv8c5Fj3E9VhNjxT4snq,Lil Nas X,"[country rap, lgbtq+ hip hop, pop rap, queer c..."
1,0xRXCcSX89eobfrshSVdyu,MEDUZA,"[dance pop, edm, pop dance, pop house, tropica..."
2,-1,TheFatRat,[speedrun]
3,4f7KfxeHq9BiylGmyXepGt,Tanishk Bagchi,"[desi pop, filmi, modern bollywood]"
4,-1,Jawsh 685,[nz pop]
...,...,...,...
1662,6AMd49uBDJfhf30Ak2QR5s,Coi Leray,"[pop r&b, r&b, trap queen, viral rap]"
1663,6qgnBH6iDM91ipVXv28OMu,KAYTRANADA,"[escape room, indie soul, lgbtq+ hip hop]"
1664,5q8HGNo0BjLWaTAhRtbwxa,Brantley Gilbert,"[contemporary country, country, country road, ..."
1665,-1,Bethel Music,"[ambient worship, ccm, christian music, deep c..."
1666,46MWeeHNVMYRIIofQBEX98,BEAM,"[trap soul, underground hip hop]"

In [ ]:
tracks_df

,id,name,popularity,duration_ms,explicit,id_artist,release_date,danceability,energy,key,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,0RNxWy0PC3AyH4ThH3aGK6,None,NaN,201467,0,19eLuQmk9aCobbVDHc6eek,1929,0.673,0.3770,0,-14.141,0.0697,0.5860,0.000000,0.3320,0.7130,88.973
1,2W889aLIKxULEefrleFBFI,Someone to Watch Over Me,54.0,198000,0,1Mxqyy3pSjf8kZZL4QVxS0,1943,0.204,0.1510,2,-17.842,0.0418,0.9470,0.000009,0.3210,0.1340,91.783
2,4Pnzw1nLOpDNV6MKI5ueIR,None,55.0,199000,0,1Mxqyy3pSjf8kZZL4QVxS0,1944,0.295,0.0826,1,-19.569,0.0367,0.9840,0.000358,0.1560,0.1690,128.600
3,7GLmfKOe5BfOXk7334DoKt,Saturday Night (Is The Loneliest Night In The ...,NaN,163000,0,1Mxqyy3pSjf8kZZL4QVxS0,1944,0.561,0.3350,9,-11.093,0.0499,0.8400,0.000002,0.7880,0.5900,126.974
4,6kD1SNGPkfX9LwaGd1FG92,Put Your Dreams Away (For Another Day),NaN,186173,0,1Mxqyy3pSjf8kZZL4QVxS0,1944,0.197,0.0546,1,-22.411,0.0346,0.9500,0.276000,0.1520,0.1000,90.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22407,0LcNMuOiULmxJK3bdHTfDF,Missing You,65.0,214987,0,7gAppWoH7pcYmphCVTXkzs,2019-04-19,0.537,0.6470,2,-7.370,0.0519,0.1680,0.000000,0.1080,0.5310,79.770
22408,1uviKYHZuM4uINK33F7sCt,Fix It to Break It,70.0,198799,0,7okSU80WTrn4LXlyXYbX3P,2020-03-27,0.493,0.4610,2,-8.524,0.0456,0.8450,0.000000,0.1150,0.3500,51.414
22409,None,Lotus Inn,63.0,195868,0,2jnIB6XdLvnJUeNTy5A0J2,2020-12-04,0.578,0.7400,2,-5.080,0.0721,0.0119,0.000000,0.1800,0.4950,155.984
22410,27kcZEJvhkb1rzZS9gCpdA,None,67.0,202355,0,7okSU80WTrn4LXlyXYbX3P,2020-11-27,0.590,0.4430,0,-5.662,0.0722,0.6180,0.000000,0.1100,0.3420,149.447
22411,27Y1N4Q4U3EfDU5Ubw8ws2,What They'll Say About Us,70.0,187601,0,None,2020-09-02,0.535,0.3140,7,-12.823,0.0408,0.8950,0.000150,0.0874,0.0663,145.095

### 2. Preprocessing danych

#### Dane z df artystów

In [ ]:
artists_df.shape

(1667, 3)

In [ ]:
artists_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1667 entries, 0 to 1666
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1667 non-null   object
 1   name    1667 non-null   object
 2   genres  1339 non-null   object
dtypes: object(3)
memory usage: 39.2+ KB

In [ ]:
artists_df.describe(include=object)

          id       name                    genres
count   1667       1667                      1339
unique  1347       1667                      1118
top       -1  Lil Nas X  [k-pop, k-pop boy group]
freq     321          1                        11

In [ ]:
artists_df.isnull().sum()

id          0
name        0
genres    328
dtype: int64

In [ ]:
artists_df[artists_df['genres'].isna()] # może da się odzyskać dane na podstawie piosenek z zespołów?

                          id               name genres
6     25UNJbwGZSQKvz5cPLWlv3   Los Dos Carnales   None
10    0n6sKrG0xKAf8xmdqeNGke    Los Legendarios   None
11    0IxgA9wO4Op3CSnPlhfwV1              Kevin   None
18    0vLsqW05dyLvjuKKftAEGA  Die drei ??? Kids   None
29                        -1             CORPSE   None
...                      ...                ...    ...
1627  3YQKmKGau1PzlVlkL1iodx  Twenty One Pilots   None
1631  4oUHIQIBe0LHzYfvXNW4QM      Morgan Wallen   None
1636  3Y2MLcrD3ZQXRXmtn4fZQx       SpotemGottem   None
1643  55fhWPvDiMpLnE4ZzNXZyW         Noah Cyrus   None
1645  7rkW85dBwwrJtlHRDkJDAC                NAV   None

[328 rows x 3 columns]

In [ ]:
artists_df["id"].value_counts().head()

-1                        321
7jVv8c5Fj3E9VhNjxT4snq      1
1moxjboGR7GNWYIMWsRjgG      1
49tQo2QULno7gxHutgccqF      1
37M5pPGs6V1fchFJSgCguX      1
Name: id, dtype: int64

In [ ]:
artists_df[artists_df["id"] == -1]['name'].head()

2              TheFatRat
4              Jawsh 685
9     Guilherme & Benuto
14                Dardan
23                  Mata
Name: name, dtype: object

#### Dane z df piosenek

In [ ]:
tracks_df.shape

(22412, 17)

In [ ]:
tracks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22412 entries, 0 to 22411
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                17932 non-null  object
 1   name              17869 non-null  object
 2   popularity        17976 non-null  float64
 3   duration_ms       22412 non-null  int64
 4   explicit          22412 non-null  int64
 5   id_artist         17945 non-null  object
 6   release_date      22412 non-null  object
 7   danceability      22412 non-null  float64
 8   energy            22412 non-null  float64
 9   key               22412 non-null  int64
 10  loudness          22412 non-null  float64
 11  speechiness       22412 non-null  float64
 12  acousticness      22412 non-null  float64
 13  instrumentalness  22412 non-null  float64
 14  liveness          22412 non-null  float64
 15  valence           22412 non-null  float64
 16  tempo             22412 non-null  float64
dtypes: float64(10), int64(3), object(4)
memory usage: 2.9+ MB

In [ ]:
tracks_df.isnull().sum()

id                  4480
name                4543
popularity          4436
duration_ms            0
explicit               0
id_artist           4467
release_date           0
danceability           0
energy                 0
key                    0
loudness               0
speechiness            0
acousticness           0
instrumentalness       0
liveness               0
valence                0
tempo                  0
dtype: int64

In [ ]:
tracks_df.describe(include=object)

                            id     name               id_artist release_date
count                    17932    17869                   17945        22412
unique                   17932    14689                    1392         3907
top     0RNxWy0PC3AyH4ThH3aGK6  Animals  06HL4z0CvFAxyc27GXpf02   2013-01-01
freq                         1       10                     255          268